# App
APP_PORT=8081
APP_TIMEZONE=Asia/Ho_Chi_Minh

# MySQL host binding
MYSQL_HOST_PORT=3307

# MySQL database credentials
MYSQL_DATABASE=shiftmanage
MYSQL_USER=shift_user
MYSQL_PASSWORD=shift_pass
MYSQL_ROOT_PASSWORD=root123
